.data-loading {
  position: absolute;
  top: 40px;
  left: 220px;
  padding: 75px;
  width: 80%;
  /* height: 40%; */
  background: rgba(194, 190, 180, 0.8);
  border-radius: 4px;
  box-shadow: 1px 1px 1px grey;
  cursor: pointer;
  padding: 8px;
  z-index: 1000;
}

.data-loading h2 {
  text-align: center;
  font-size: 18px;
}
