.logo-container {
  width: 60px;
  height: 40px;
}
.mobile-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app-name {
  color: #dfdac6;
}
.menu-icon {
  color: #dfdac6;
  margin-right: 50px;
}

.mobile-banner {
  display: none;
}

@media screen and (max-width: 737px) {
  .mobile-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #111;
  }
}
