.logo {
  padding-top: 0px;
  margin-top: 0px;
  width: 50%;
  height: auto;
}
#active {
  max-width: 300px;
}
.app-nav a {
  padding: 6px 1px 6px 10px;
  text-decoration: none;
  font-size: 16px;
  color: #d0ccbc;
  display: block;
}
.app-nav a:hover {
  color: #f1f1f1;
}

.app-nav .active {
  color: rgb(250, 229, 203);
}

ul {
  list-style-type: none;
  padding-left: 2px;
}

/* make two divs side by side? */
nav {
  width: 20vw;
  display: inline-block;
}

.placeholder {
  color: white;
}
