  /* STYLING THE SELECTION MENU IS COVERING MY MAP! */
  .selection-menu{
    height: 100vh;
    position: absolute;
    left: 25vw;
    width:74vw;
    display: inline-block;
    z-index: 1000;
  }

.banner-overlay{
    position: absolute;
    width:32%;
    height:100%;
    background: rgba(194, 190, 180,0.8);
    border-radius: 4px;
    box-shadow: 1px 1px 1px grey;
    cursor:pointer;
    padding: 8px;
    z-index: 1000;
  }
  .close-btn{
    float: right;
    color:black;
    padding:5px;
    text-decoration: none;
  }