form {
  font-size: 14px;
}

.filter {
  font-size: 10px;
}
legend {
  padding-top: 5px;
}
.btn {
  font-size: 14px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 3px;
}

/* Style the active class (and buttons on mouse-over) */
.active,
.btn:hover {
  background-color: #666;
  color: white;
}

.raptor-info {
  margin: 4px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #dfdac6;
  color: #1c1a17;
}
.hidden {
  display: none;
}
