.backdrop {
  z-index: 999;
  top: 0px;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.welcome-banner-overlay{
    top: 120px;
    left: 170px;
    position: absolute;
    width:60%;
    /* height:45%; */
    background: rgba(194, 190, 180,0.8);
    border-radius: 4px;
    box-shadow: 1px 1px 1px grey;
    cursor:pointer;
    padding: 8px;
    z-index: 1000;
    text-align: center;
  }
  .close-btn{
    float: right;
    color:black;
    padding:5px;
    text-decoration: none;
    /* opacity: 1; */
  }