body * {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #1c1a17;
  font-family: "Quicksand", sans-serif;
}

.App {
  overflow: hidden;
}
.capsule {
  height: 100vh;
  position: absolute;
  left: 20vw;
  width: 79vw;
  display: inline-block;
}

.app-nav {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: #dfdac6;
}

@media screen and (max-width: 737px) {
  .app-nav {
    right: 0;
    width: 300px;
    max-width: 0;
    transition: max-width 1s;
    left: unset;
    top: 60px;
    z-index: 1500;
  }

  .capsule {
    width: 100vw;
    left: 0;
  }
}
