body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding: 0;
    color: #1c1a17;
    font-family: 'Quicksand', sans-serif;
}
.capsule{
  height: 100vh;
  position: absolute;
  left: 15vw;
  width:84vw;
  display: inline-block;
}
